# latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
*.bbl
*.blg
*.dvi
*.nav
*.snm
*.vrb

# os
.DS_Store
Thumbs.db
Desktop.ini

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

